body {
    margin: 0;
}

#canvas-basic {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: url(http://pre04.deviantart.net/c1b7/th/pre/i/2012/125/2/0/forest_background_by_vashar23-d4xm0vl.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#blocs td, #blocs th {
    text-align : center;
}
#localisation {
    width: 200px;
}
#video {
    width: 180px;
}
#color {
    width: 100px;
}
@media screen and (min-width: 744px) {
    #svgContainer {
        width: 744px;
        height: 1052px;
        position: fixed;
        top: 0;
        left: 0;
    }
    #blocs {
        width: calc(100% - 750px);
        top: 0;
        left: 750px;
        position: absolute;
    }
}
@media screen and (max-width: 744px) {
    #svgContainer {
        width: 100%;
        height: auto;
        position: relative;
        top: 0;
        left: 0;
    }
    #svgContainer svg{
        width: 100%;
        height: auto;
        position: relative;
    }
    #blocs {
        width: 100%;
        left: 0px;
        position: relative;
        display: block;
    }
}

.play-button {
    cursor: pointer;
}
